{% extends "plantilla_ps.html" %}
{% load static %}
{% block title %}Historia Clínica Paciente{% endblock title %}

{% block estilo %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock estilo %}

{% block auth_button %}
<li>
    <button type="button" class="navButton0 login-btn" onclick="window.location.href='{% url 'prof_salud:consultas_prof_salud' %}'">
        <img class="img-button" src="{% static 'img/log-out.svg' %}" alt="Icono de logout"> Cerrar Sesión
    </button>
</li>

{% endblock auth_button %}

{% block content %}

<section class="main">
    <div class="container-fluid">
        <div class="row justify-content-center p-4">
            <div class="col-lg-10 col-md-10">
                <div>
                    <a class="btn btn-main btn-nav" href='{% url "prof_salud:inicio_prof_salud" %}'>Volver</a>
                </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10">
                    <div class="container border border-dark rounded p-4 my-5 div-main">
                        <h1>Diligencie historia clínica del paciente</h1>
                        <a class="btn btn-main btn-nav" href="{% url 'prof_salud:diligenciar_hc' %}">Diligenciar Nueva Historia Clínica</a><br>
                        
                        {% if ultima_consulta %}
                            <p class="mt-3">A continuación se muestra la última historia clínica que ha registrado:</p>
                            <p><b>Paciente:</b> {{ ultima_consulta.id_paciente }}<br>
                               <b>Fecha de atención:</b> {{ ultima_consulta.fecha_atencion|date:"d/m/Y H:i" }}
                            </p>
                            <object data="{% url 'prof_salud:generar_hc_pdf' ultima_consulta.id_consulta %}" type="application/pdf" width="100%" height="500px" class="mb-3">
                            </object>
                            <div class="my-3">
                                <a href="{% url 'prof_salud:generar_hc_pdf' ultima_consulta.id_consulta %}" class="btn btn-outline-danger" download="HC_{{ ultima_consulta.id_paciente.numero_documento }}_{{ ultima_consulta.fecha_atencion|date:'Ymd' }}.pdf">Descargar PDF de la última historia clínica</a>
                                <a class="btn btn-main btn-nav" href="{% static 'docs/ResultadosLaboratorio.pdf' %}">Ver Resultados Laboratorio Paciente</a>
                            </div>
                            <button class="btn btn-main mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#RegistroClinicoCompleto" aria-expanded="false" aria-controls="RegistroClinicoCompleto">
                                Ver Historial Clínico Completo
                            </button>
                        {% else %}
                            <div class="alert alert-info mt-3" role="alert">
                                No se ha encontrado una historia clínica reciente para mostrar. Puede <a href="{% url 'prof_salud:diligenciar_hc' %}" class="alert-link">diligenciar una nueva</a>.
                            </div>
                        {% endif %}
                        <!-- Contenido colapsable con el Registro del historial clinico -->
                        <div class="collapse mt-3" id="RegistroClinicoCompleto">
                            <div class="card card-body div-main">
                                <h5 class="card-title">Registro del Historial Clínico</h5>
                                <p>A continuación se muestra un listado de historias clínicas del paciente.</p>
                                <ul class="list-group list-group-flush itemList">
                                    {% for hc in historial_paciente %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center div-main">
                                            {# Enlace para ver el PDF de esa historia clínica específica #}
                                            <a href="{% url 'prof_salud:generar_hc_pdf' hc.id_consulta %}" target="_blank">
                                                Historia Clínica del {{ hc.fecha_atencion|date:"d/m/Y" }}
                                            </a>
                                            <div class="text-nowrap">
                                                <span class="badge bg-primary rounded-pill">{{ hc.fecha_atencion|date:"d/m/Y H:i" }}</span>
                                            </div>
                                        </li>
                                    {% empty %}
                                        <li class="list-group-item div-main">No hay historial clínico para mostrar.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}