{% extends "plantilla.html" %}
{% load static %}
{% block title %}Inicio Paciente{% endblock title %}

{% block auth_button %}
{# En esta página, reemplazamos el botón de login por el de logout #}
<li>
    {# Asumimos que tienes una URL llamada 'logout' para cerrar la sesión #}
    <button type="button" class="navButton0 login-btn" onclick="window.location.href='{% url "login" %}'">
        <img class="img-button" src="{% static "img/log-out.svg" %}" alt="Icono de logout"> Cerrar Sesión
    </button>
</li>
{% endblock auth_button %}

{% block content %}

<section class="main">
    <div class="container-fluid">
        <div class="row p-4">
            <!-- Columna para el contenido principal -->
            <div class="col-md-8 mt-4" style="padding: 60px 20px;">
                <div class="mb-3">
                    <label for="" class="form-label">Roles a elegir</label>
                    <select
                        class="form-select form-select-lg"
                        id="roleSelector"
                    >
                        <option value="{% url 'inicio-usuario' %}" selected>Usuario</option>
                        <option value="{% url 'inicio_prof_salud' %}">Profesional de salud</option>
                        <option value="{% url 'inicio_admin' %}">Administrativo</option>
                    </select>
                </div>
                <h1>Bienvenido! Paciente [Nombre del paciente]</h1>
                <div class="container border border-dark rounded p-4 my-5 div-main">
                    <h1>Historia clínica</h1>
                    <p>Acceda fácilmente a su información médica con una interfaz clara, intuitiva y accesible. Consulta antecedentes, diagnósticos y recomendaciones, con la opción de descargar el historial completo en un solo click.</p>
                    <a class="btn btn-main" href="{% url "hcusuario" %}">Consultar historia clínica</a>
                </div>
                <div class="container border border-dark rounded p-4 my-5 div-main">
                    <h1>Ordenes médicas y Resultados de Laboratorio</h1>
                    <p>Gestione y consulte sus ordenes médicas y resultados de laboratorio de forma práctica y visualmente agradable. Cada documento es descargable e incluye un código QR que garantiza verificación rápida y segura.</p>
                    <a class="btn btn-main" href='{% url "omusuario" %}'>Consultar ordenes médicas</a>
                </div>
                <div class="container border border-dark rounded p-4 my-5 div-main">
                    <h1>Ordenes de medicamentos</h1>
                    <p>Acceda y descargue sus ordenes de manera rápida y sencilla. Cada documento incorpora un código QR que permite verificar su autenticidad y agiliza el proceso de entrega en puntos de dispensación de medicamentos.</p>
                    <button type="button" class="btn btn-main" onclick="window.location.href='{% url "omeusuario" %}'">Consultar ordenes de medicamentos</button>
                </div>
                <div class="container border border-dark rounded p-4 my-5 div-main">
                    <h1>Asignar turno</h1>
                    <p>Asigne su turno con solo un click, de forma rápida y sin demoras. Una interfaz directa y accesible que le permite reservar su turno sin complicaciones, optimizando tu tiempo desde cualquier dispositivo.</p>
                    <button type="button" class="btn btn-main" onclick="window.location.href='{% url "turnos-usuario" %}'">Obtener turno</button>
                </div>
            </div>
            <!-- Columna para las imágenes -->
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
                <img src="{% static 'img/doctor.png' %}" alt="Imagen 1" class="img-fluid rounded mb-4 pt-4 shadow">
                <img src="{% static 'img/infografíaunisalud.png' %}" alt="Imagen 2" class="img-fluid rounded shadow">
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block script %}
{{ block.super }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const roleSelector = document.getElementById('roleSelector');
    if (roleSelector) {
        roleSelector.addEventListener('change', function() {
            window.location.href = this.value;
        });
    }
});
</script>
{% endblock script %}