{% extends "plantilla.html" %}
{% load static %}
{% block title %}Órdenes Médicamentos{% endblock title %}

{% block estilo %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "css/medicamentos.css" %}">
{% endblock estilo %}

{% block auth_button %}
{# En esta página, reemplazamos el botón de login por el de logout #}
<li>
    {# Asumimos que tienes una URL llamada 'logout' para cerrar la sesión #}
    <button type="button" class="navButton0 login-btn" onclick="window.location.href='{% url "inicio-usuario" %}'">
        <img class="img-button" src="{% static "img/log-out.svg" %}" alt="Icono de logout"> Cerrar Sesión
    </button>
</li>
{% endblock auth_button %}

{% block content %}

<section class="main">
    <div class="container-fluid">
        <div class="row justify-content-center p-4">
            <div class="col-lg-10 col-md-10">
                <div>
                    <a class="btn btn-main btn-nav" href='{% url "inicio-usuario" %}'>Volver</a>
                    <select name="filtrarome" id="" class="btn btn-main btn-nav">
                        <option disabled selected value="">Filtrar por</option>
                        <option value="fecha">Recientes a antiguas</option>
                        <option value="especialidad">Especialidad</option>
                        <option value="nombreMedico">Nombre del médico</option>
                        <option value="estadoOrden">Estado de la orden</option> 
                    </select>
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                {% if ultima_orden %}
                    <div class="container border border-dark rounded p-4 my-5 div-main">
                        <h2>Ver Orden Medicamentos más reciente #{{ ultima_orden.id_orden }}</h2>
                        <p>Aquí puede visualizar su orden medicamento más reciente</p>
                        <iframe src="{% url 'prof_salud:generar_omedicamentos_pdf' ultima_orden.id_orden %}" width="100%" height="800px" style="border: none;" title="Visor de PDF de Orden Medicamentos"></iframe>
                        <a class="btn btn-outline-primary" href="{% url 'prof_salud:generar_omedicamentos_pdf' ultima_orden.id_orden %}" download="OM_{{ ultima_orden.id_paciente.numero_documento }}_{{ ultima_orden.fecha_emision|date:'Ymd' }}.pdf">Descargar PDF Orden Medicamentos</a>
                    </div>
                {% else %}
                    <div class="container border border-dark rounded p-4 my-5 div-main">
                        <h1>Órdenes Medicamentos</h1>
                        <p>Aún no tiene órdenes medicamentos registradas.</p>
                    </div>
                {% endif %}
                        <!-- Contenido colapsable con el historial -->
                        <button class="btn btn-main" type="button" data-bs-toggle="collapse" data-bs-target="#historialOrdenes" aria-expanded="false" aria-controls="historialOrdenes">
                            Ver historial de órdenes medicamentos
                        </button>
                        <div class="collapse mt-3" id="historialOrdenes">
                            <div class="card card-body div-main">
                                <h5 class="card-title">Registro de Ordenes Medicamentos</h5>
                                <p>A continuación se muestra un listado de la órdenes Medicamentos del paciente.</p>
                                <ul class="list-group list-group-flush itemList">
                                    {% for orden in ordenes %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center div-main">
                                            <div class="me-3 d-flex flex-column">
                                                <a href="{% url 'ver_orden_medicamentos_usuario_pdf' orden.id_orden %}" target="_blank"title="Ver orden medicamento del {{ orden.fecha_emision|date:'d/m/Y' }}"><strong>Orden Medicamento</strong> — {{ orden.fecha_emision|date:"d/m/Y" }}</a>
                                                <small class="text-muted">Profesional: {{ orden.id_profesional.nombre1 }} {{ orden.id_profesional.nombre2 }} {{ orden.id_profesional.apellido1 }} {{ orden.id_profesional.apellido2 }}<br>Especialidad: {{ orden.id_profesional.id_especialidad.nombre_especialidad }}</small>
                                            </div>
                                            <div class="text-nowrap">
                                                <span class="badge bg-primary rounded-pill">{{ orden.fecha_emision|date:"d/m/Y H:i" }}</span>
                                                <span class="badge bg-secondary rounded-pill">{{ orden.id_profesional.get_full_name|truncatechars:12 }}</span>
                                                <span class="badge bg-success rounded-pill">{{ orden.id_especialidad.nombre_especialidad|truncatechars:15 }}</span>{{ orden.id_especialidad.nombre_especialidad|truncatechars:15 }}</span>
                                            </div>
                                        </li>
                                    {% empty %}
                                        <li class="list-group-item div-main">No hay historial de órdenes medicamentos para mostrar.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}