{% extends "plantilla_admin.html" %}
{% load static %}


{% block content %}

<div class="turnero-page">

    <div class="turnero-wrapper2">

        <a class="btn btn-secondary mb-4" href="{% url 'inicio-turnero' %}">
            ⬅ Volver
        </a>

        <h1 class="text-center mb-5">Pantalla de Turnos</h1>

        <div class="turno-box-actual2">
            <h2 class="mb-4">Turno Actual</h2>

            {% if turno_actual %}
                <div class="numero-turno-actual2 text-center">
                    {{ turno_actual.letra }}{{ turno_actual.numero }}
                </div>
                <p class="fs-3 text-primary fw-bold text-center">Llamando</p>
            {% else %}
                <p class="fs-3 text-muted">Sin turnos llamados</p>
            {% endif %}
        </div>

        <div class="historial-box2">
            <h2 class="titulo-turnero2">Historial</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Turno</th>
                    </tr>
                </thead>

                <tbody>
                    {% for t in historial %}
                    <tr>
                        <td class="text-center">{{ t.letra }}{{ t.numero }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="text-center text-muted">Sin historial</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>

{% endblock content %}
